.advantages {
    display: flex;
    justify-content: space-between;
    position: relative;

    padding: 150px 32px;
}

.img-list h2 {
    position: absolute;
    top: 450px;

    font-size: 27px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;

    width: 376px;
}

