.items-box {
    display: flex;
    justify-content: space-between;
}

.price-title,
.services-title {
    color:black;
}

.price-item {
    background-color: #8D86C9;
    margin-bottom: 30px;
    margin-left: 12px;
    width: 525px;
}

.price-item h3 {
    font-size: 21px;
    font-weight: 600;
    line-height: 30px;
}

.price-link {
    display: flex;
}

.services-slider {
    width: 600px;
    height: 300px;
}