@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('./Fonts/Gilroy-Regular.woff2');
}

body {
  color: #fff;
  margin: 0;
  font-family: 'Gilroy', sans-serif;
}

code {
  font-family: 'Gilroy', sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
  width: max-content;
}

.container {
  padding: 0 12px;
}